dbutils==3.0.2
prettyprinter==0.18.0
omegaconf==2.1.1
torch==1.8.0
numpy
transformers==4.21.0
hydra-core==1.1.0
pandas
regex
alive-progress==2.4.1
sklearn==0.0
bert4torch==0.1.6
jsonlines
Pillow==9.1.1
Flask
flask-cors
requests
pymysql
redis
pytest
psutil
paramiko
matplotlib
allure-pytest==2.11.0
pytest-rerunfailures
pytest-html
concurrent_log_handler
jieba==0.42.1
rouge==1.0.1
openpyxl==3.0.0
boto3==1.16.46
botocore==1.19.46
sacremoses
sentencepiece
arrow
